<div class="grid_14 prefix_1 suffix_1 alpha omega">
  <div class="grid_5 alpha">
<h1>Mude sua senha!</h1>
<% form_for :user, :url => reset_password_url do |f| -%>
<fieldset>
  <ol>
    <li>
      <%= f.label :password, "Nova senha" %>
      <%= f.password_field :password, :class => "texto" %>
    </li>
    <li>
      <%= f.label :password_confirmation, "Confirmação da nova senha" %>
      <%= f.password_field :password_confirmation, :class => "texto" %>
    </li>
  </ol>
</fieldset>
<p class="salvar_cadastro"><%= submit_tag "Salvar" %></p>
<% end -%>
  </div>
  <div class="grid_9 omega">
    <%= error_messages_for :user, :header_message => "Opa!" %>
    <h2>Você está aqui para trocar sua senha</h2>
    <p>1. Digite uma nova senha no campo ao lado;<br />
       2. Confirme-a.<br />
       3. Salve e faça seu login em seguida!</p>
  </div>
</div>
