<h1>Mudar tipo do usuário</h1>

Usuário <i><%= @user.email %></i> está cadastrado como: 
<span class="nome <%= @user.type.to_s.underscore -%>"><%= @user.nome_do_tipo %></span><br/>
<br/>
Alterar para: 
<% form_for :user, :url => {:action => :mudartipo_post} do |f| %>
	<p><%= render :partial => "users/tipo_de_users", :locals => { :user => @user } %></p>
	<p><%= f.submit "Salvar" %> ou <%= link_to "voltar", admin_users_url %></p>
<% end %>

<style type="text/css" media="screen">
.nome {
  background-color: #666666;
  color: #FFFFFF;
  font-size: 11px;
  font-family:Verdana, sans-serif;
  padding: 2px 5px;
  text-transform: lowercase;
}
</style>