<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <%= render :partial => "layouts/head" %>
  </head>

  <body class="<%= controller_name %> <%= controller_name %>_<%= action_name %>">
    <% if params[:controller] == "home" %>
      <%= render :partial => "layouts/cabecalho_ante_sala", :locals => { :cidade_corrente => @cidade_corrente, :estados => @estados } %>
    <% else %>
      <%= render :partial => "layouts/cabecalho", :locals => { :cidade_corrente => @cidade_corrente } %>
    <% end %>

    <div id="conteudo" class="container_16 rounded clearfix">
      <div class="grid_16">
        <%= flash_message -%>
        <%= yield %>
      </div>
    </div> <!-- conteudo -->

    <%= render :partial => "layouts/rodape" %>
    <%= yield :rodape %>
  </body>
</html>
